.carrossel-titulo {
  color: var (--laranja);
  text-align: center;
  text.-transform: uppercase;
  background-color: Var (--branco)
  font-size:18 px;
  font-weight:700;
  padding: 1 em 0 0 5 em 0;
}

.swiper-slide img {
  width: 100 %;
}


.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: inital.
  margin:5em 0;


  .card { 
    background: Var(--branco);
    box-shodow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    
  
